<div class="container">
    <form action="{% url 'usuarios:actualizar_alumno' %}" method="post">
    {% csrf_token %}
        <div class="form-row">
            <div class="col-6 form-group">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="nombre" aria-describedby="emailHelp" placeholder=Nombre value="{{a.nombre}}">
            </div>
            <div class="col-6 form-group">
                <label for="exampleInputEmail1">Apellido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="apellido" aria-describedby="emailHelp" placeholder="Apellido" value="{{a.apellido}}">
            </div>
        </div>
        <div class="form-row">
            <div class="col-4 form-group">
                <label for="exampleInputEmail1">Celular</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="celular" aria-describedby="emailHelp" placeholder=Celular value="{{a.celular}}">
            </div>
            <div class="col-4 form-group">
                <label for="exampleInputEmail1">Fecha Ingreso</label>
                <input type="date" class="form-control" id="exampleInputEmail1" name="fechaInicio" aria-describedby="emailHelp" value="{{a.fecha_inicio}}">
            </div>
            <div class="col-4 form-group">
                <label for="exampleInputEmail1">Fecha Fin</label>
                <input type="date" class="form-control" id="exampleInputEmail1" name="fechaFin" aria-describedby="emailHelp"  value="{{a.fecha_fin}}">
                <input type="hidden" name="id" value="{{a.id}}">
            </div>
        </div>
        <div class="form-row">
            
        </div>
        <div class="form-row">
            <div class="col-5 form-group">
                <input type="submit" value="Guardar" class="btn btn-success">
            </div>
        </div>
    </form>
</div>
    